# Disable directory listing
Options -Indexes

# Prevent access to hidden files
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

# Block access to .env
<FilesMatch "^\.env$">
    Order allow,deny
    Deny from all
</FilesMatch>
